h1 {
  color: #004D40;
  font-weight:600;
  font-family: Avenir;
  font-size: 55px;
  text-align: center;
}

h2 {
  font-style: italic;
  font-family: Avenir;
  font-size: 50px;
  text-align: left;
}

p {
  font-family: helvetica;
  text-align: left;
  font-size: 20px;
}

ul {
  font-size: 20px;
  line-height: 30px;
  font-family: helvetica;
}

ol {
  font-size: 20px;
  line-height: 30px;
  font-family: helvetica;
}

html {
      background-color: #DCEDC8;
      padding-left: 150px;
      color: #37474F;

  }

  header, footer {
     image-align: center;
 }
